v2.1/intacct_request_objects.v2.1.dtd

<!--  	This DTD maintains object definitions and reusable lists
        for the Intacct XML Request DTD  	
			
         File:               intacct_request_objects.v2.1.dtd
         Version :            2.1
		
         (C)2002, Intacct Corporation, All Rights Reserved 

         Intacct Corporation Proprietary Information.
         This document contains trade secret data that belongs to Intacct 
         corporation and is protected by the copyright laws. Information herein 
         may not be used, copied or disclosed in whole or part without prior 
         written consent from Intacct Corporation.
-->
<!ELEMENT apadjustmentitems (lineitem+)>
<!ELEMENT aradjustmentitems (lineitem+)>
<!ELEMENT arpaymentitem (invoicekey, amount)>
<!ELEMENT billitems (lineitem+)>
<!ELEMENT check (bankaccountid, checkno?)>
<!ELEMENT creditcard (creditcardid)>
<!ELEMENT eft (documentno)>
<!ELEMENT expense ((expensetype | glaccountno), amount?, currency?, trx_amount?, exchratedate?, exchratetype?, exchrate?, expensedate?, memo?, form1099?, paidfor?, locationid?, departmentid?, customfields?, projectid?, customerid?, vendorid?, employeeid?, itemid?, classid?, billable?, exppmttype?)>
<!ELEMENT expenses (expense+)>
<!ELEMENT glentry (trtype, amount, glaccountno, document?, datecreated?, memo?, locationid?, departmentid?, customerid?, vendorid?, employeeid?, projectid?, itemid?, classid?, customfields?, recon_date?, (currency, ((exchratedate?, exchratetype) | exchrate))?)>
<!ELEMENT gltransaction (journalid, datecreated, description, sourceentity?, gltransactionentries)>
<!ELEMENT gltransactionentries (glentry, glentry, glentry*)>
<!ELEMENT statgltransactionentries (glentry+)>
<!ELEMENT stkittransitems (stkittransitem)>
<!ELEMENT stkittransitem (itemid, itemdesc?, warehouseid, quantity, unit?, locationid?, departmentid?, customfields?)>
<!ELEMENT ictransitems (ictransitem+)>
<!ELEMENT ictransitem (itemid, itemdesc?, warehouseid, quantity, unit?, cost?, locationid?, departmentid?, itemdetails?, customfields?, projectid?, customerid?, vendorid?, employeeid?, classid?)>
<!ELEMENT invoiceitems (lineitem+)>
<!ELEMENT lineitem ((accountlabel | glaccountno), offsetglaccountno?, amount, allocationid?, memo?, locationid?, departmentid?, item1099?, key?, totalpaid?, totaldue?, customfields?, revrectemplate?, defrevaccount?, revrecstartdate?, revrecenddate?, projectid?, customerid?, vendorid?, employeeid?, itemid?, classid?, billable?)>
<!ELEMENT reclassifyitems (reclasslineitem)+>
<!ELEMENT reclasslineitem ((accountlabel | glaccountno), memo?, locationid?, departmentid?, customfields?, projectid?, customerid?, vendorid?, employeeid?, itemid?, classid?)>
<!ATTLIST reclasslineitem
	line_num CDATA #REQUIRED
>
<!ELEMENT potransitems (potransitem+)>
<!ELEMENT potransitem (itemid, itemdesc?, taxable?, warehouseid?, quantity, unit?, price?, locationid?, departmentid?, memo?, itemdetails?, form1099?, customfields?, projectid?, customerid?, vendorid?, employeeid?, classid?, billable?)>
<!ELEMENT sotransitems (sotransitem+)>
<!ELEMENT sotransitem (bundlenumber?, itemid, itemdesc?, taxable?, warehouseid?, quantity, unit?, discountpercent?, price?, discsurchargememo?, locationid?, departmentid?, memo?, itemdetails?, customfields?,  revrectemplate?, revrecstartdate?, revrecenddate?, renewalmacro?, projectid?, customerid?, vendorid?, employeeid?, classid?, fulfillmentstatus?, taskno?, billingtemplate?)>
<!ELEMENT recursotransitems (recursotransitem+)>
<!ELEMENT recursotransitem (itemid, itemdesc?, taxable?, warehouseid?, quantity, unit?, price?, discsurchargememo?, locationid?, departmentid?, memo?, itemdetails?, customfields?,  revrectemplate?, revrecstartdate?, revrecenddate?, status?, projectid?, customerid?, vendorid?, employeeid?, classid?)>
<!ELEMENT itemdetails (itemdetail+)>
<!ELEMENT itemdetail (quantity?, (serialno | lotno)?, aisle?, row?, bin?, itemexpiration?)>
<!ELEMENT offset (glaccountno | accountlabel)>
<!ELEMENT online (bankaccountid, notifyemail?)>
<!ELEMENT personalinfo (contactname | contact)>
<!ELEMENT updateapadjustmentitems (lineitem | updatelineitem)+>
<!ELEMENT updatearadjustmentitems (lineitem | updatelineitem)+>
<!ELEMENT updatebillitems (lineitem | updatelineitem)+>
<!ELEMENT updateexpense ((expensetype? | glaccountno?), amount?, currency?, trx_amount?, exchratedate?, exchratetype?, exchrate?, expensedate?, memo?, form1099?, paidfor?, locationid?, departmentid?, customfields?, projectid?, customerid?, vendorid?, employeeid?, itemid?, classid?, billable?, exppmttype?)>
<!ATTLIST updateexpense
	line_num CDATA #REQUIRED
>
<!ELEMENT updateexpenses (expense | updateexpense)+>

<!ELEMENT expenseadjustments (expenseadjustment+)>

<!ELEMENT updateexpenseadjustments (expenseadjustment | updateexpenseadjustment)+>

<!ELEMENT expenseadjustment ((expensetype | glaccountno), amount, currency?, trx_amount?, exchratedate?, exchratetype?, exchrate?, expensedate?, memo?, locationid?, departmentid?, projectid?, customerid?, vendorid?, employeeid?, itemid?, classid?, billable?, customfields?)>

<!ELEMENT updateexpenseadjustment ((expensetype? | glaccountno?), amount?, currency?, trx_amount?, exchratedate?, exchratetype?, exchrate?, expensedate?, memo?, locationid?, departmentid?, projectid?, customerid?, vendorid?, employeeid?, itemid?, classid?, billable?, customfields?)>

<!ATTLIST updateexpenseadjustment
	line_num CDATA #REQUIRED
>

<!ELEMENT updateinvoiceitems (lineitem | updatelineitem)+>
<!ELEMENT updatelineitem ((accountlabel? | glaccountno?), offsetglaccountno?, amount?, memo?, locationid?, departmentid?, item1099?, customfields?, revrectemplate?, defrevaccount?, revrecstartdate?, revrecenddate?, projectid?, customerid?, vendorid?, employeeid?, itemid?, classid?, billable?)>
<!ATTLIST updatelineitem
	line_num CDATA #REQUIRED
>
<!ELEMENT receiptitems (lineitem+)>
<!ELEMENT receipts (receipt+)>
<!ELEMENT receipt (paymentdate, payee, receiveddate, paymentmethod, undepglaccountno, refid?, description?, supdocid?, (currency, ((exchratedate?, exchratetype) | exchrate))?, customfields?, receiptitems)>
<!ELEMENT receiptkeys (receiptkey+)>
<!ELEMENT subtotals (subtotal+)>
<!ELEMENT subtotal (description, total, absval?, percentval?, locationid?, departmentid?, projectid?, customerid?, vendorid?, employeeid?, classid?,itemid?, customfields?)>
<!ELEMENT updatesubtotals (updatesubtotal+)>
<!ELEMENT updatesubtotal (description, total, absval?, percentval?, locationid?, departmentid?, projectid?, customerid?, vendorid?, employeeid?, classid?, itemid?, customfields?)>
<!ELEMENT arpaymentitems (arpaymentitem+)>
<!ELEMENT arpaymentitemdetails (arpaymentitemdetail)>
<!ELEMENT arpaymentitemdetail (arpaymentlineitemkey, invoicelineitemkey, amount)>
<!ELEMENT recurbillitems (recurlineitem+)>
<!ELEMENT recurinvoiceitems (recurlineitem+)>
<!ELEMENT recurlineitem ((accountlabel | glaccountno), form1099?, amount, memo?, locationid?, departmentid?, projectid?, customerid?, vendorid?, employeeid?, itemid?, classid?, billable?, customfields?)>
<!ELEMENT vendlineitems (vendlineitem+)>
<!ELEMENT vendlineitem (vendorid,stockno?,leadtime?,econorderqty?)>
<!ELEMENT whslineitems (whslineitem+)>
<!ELEMENT whslineitem (whsid,cycle?,stdcost?,lastcost?,avgcost?,reordermethod?,economyorderqty?,reorder?,minorderqty?,maxorderqty?,minstock?,maxstock?,datelastsold?,datelastrecvd?,begbalqty?,begbalprice?,defaultsubsection?,default_aisle?,default_row?,default_bin?)>
<!ELEMENT complineitems (complineitem+)>
<!ELEMENT complineitem (componentkey,quantity?,revpercent?,delete_component?,kcdlvrstatus?,kcrevdefstatus?)>
<!ELEMENT itaxgroup (key?,name?)>
<!ELEMENT onlinecardpayment (cardnum,expirydate,cardtype,securitycode?,usedefaultcard?)>
<!ELEMENT onlineachpayment (bankname,accounttype,accountnumber,routingnumber,accountholder,usedefaultaccount?)>
<!ELEMENT expirydate (exp_month,exp_year)>
<!ELEMENT updatesotransitems (sotransitem | updatesotransitem)+>
<!ELEMENT updatesotransitem (bundlenumber?, itemid?, itemdesc?, taxable?, warehouseid?, quantity?, unit?, discountpercent?, price?, discsurchargememo?, locationid?, departmentid?, memo?, itemdetails?, customfields?,  revrectemplate?, revrecstartdate?, revrecenddate?, renewalmacro?, projectid?, customerid?, vendorid?, employeeid?, classid?, fulfillmentstatus?, taskno?, billingtemplate?)>
<!ATTLIST updatesotransitem
	line_num CDATA #REQUIRED
>
<!ELEMENT updatepotransitems (potransitem | updatepotransitem)+>
<!ELEMENT updatepotransitem (itemid?, itemdesc?, taxable?, warehouseid?, quantity?, unit?, price?, locationid?, departmentid?, memo?, itemdetails?, customfields?, projectid?, customerid?, vendorid?, employeeid?, classid?, billable?)>
<!ATTLIST updatepotransitem
	line_num CDATA #REQUIRED
>
<!ELEMENT updateictransitems (ictransitem | updateictransitem)+>
<!ELEMENT updateictransitem (itemid?, itemdesc?, warehouseid?, quantity?, unit?, cost?, locationid?, departmentid?, itemdetails?, customfields?, projectid?, customerid?, vendorid?, employeeid?, classid?)>
<!ATTLIST updateictransitem
	line_num CDATA #REQUIRED
>
<!ELEMENT department (departmentid)>
<!ELEMENT checkinfocontact (companyname?,contactname?,mailaddress?,phone1?)>
<!ELEMENT checklayout (dfltcnyaddr?,checkprintformat?,checkpaperformat?,sigline2amount?,printlineitems?,bankacctalign?,spacestoappend?,checknolength?,voidtext?)>
<!ELEMENT renewalmacro %STRING_40;>
<!ELEMENT accountgroup %STRING_80;>
<!-- ELEMENT vsoeitempricelistentries (vsoeitempricelistentry)+ -->
<!ELEMENT priceentries (priceentry+)>
<!ELEMENT priceentry (startdate, enddate, value, markup, markdown, bandup, banddown, memo)>
<!ELEMENT due (dueday?, duefrom?)+>
<!ELEMENT discount (discday?, discfrom?, discamount?, discpercamn?, discgracedays?)+>
<!ELEMENT penalty (pen_type?, penamount?, penpercamn?, pengracedays?)+>
<!ELEMENT allocationentry (entry)+>
<!ELEMENT updateallocationentry (entry | updateentry)+>
<!ELEMENT entry (value, departmentid?, locationid?, customfields?)+>
<!ELEMENT updateentry (value?, departmentid?, locationid?, customfields?)+>
<!ATTLIST updateentry
	line_num CDATA #REQUIRED
>
<!ELEMENT revrecentries (revrecentry+)>
<!ELEMENT revrecentry (
    recordno?, postingdate?, accountno?, trx_amount?, cumpercent?,
    description?
)>

<!ELEMENT fulfillmentstatus ((deliverystatus?,deliverydate?,deferralstatus?)|kitstatus?)+>
<!ELEMENT kitstatus (line_num,invoiceprice?,deliverystatus?,deliverydate?,deferralstatus?)>

<!-- For Supporting Documents-->
<!ELEMENT attachments (attachment, attachment*)>
<!ELEMENT attachment (attachmentname, attachmenttype, attachmentdata)>
